<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPT-X</title>
</head>
<body>
    <form id="result " action="/result" method="post">
        
            <div class="inputBox">
                <input type="text" id="ques" name="ques" required=" required">
                <span>Enter your Question</span>
            </div>
            <button class="button-33" role="button" type="submit">Ask</button>
          <!-- <button type="submit">  Submit</button> -->
         
          
    </form>
 </div>
</body>
</html>